* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px
}

@font-face {
    font-family: GillSansregular;
    src: url(../css/fonts/Gill\ Sans.otf);
}

@font-face {
    font-family: PTSerif;
    src: url(../css/fonts/PTSerif-Regular.ttf);
}

@font-face {
    font-family: GillSansitalic;
    src: url(../css/fonts/Gill\ Sans\ Italic.otf);
}

@font-face {
    font-family: GillSansbolditalic;
    src: url(../css/fonts/Gill\ Sans\ Bold\ Italic.otf);
}

@font-face {
    font-family: GillSanslight;
    src: url(../css/fonts/Gill\ Sans\ Light.otf);
}

@font-face {
    font-family: GillSanslightitalic;
    src: url(../css/fonts/Gill\ Sans\ Light\ Italic.otf);
}

@font-face {
    font-family: GillSans;
    src: url(../css/fonts/Gill\ Sans.otf);
}


nav {
    //background-color: yellow;
    max-width: $content-width;
    //max-width: 98%;
    padding: 15px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;




    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        //background-color: indigo;
        width: 100%;

        .logo-black {

            background-image: url(../images/logo-black.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 92px;
            height: 42px;
            margin-bottom: 20px;
            // margin-top: 30px;

        }

        .ham-burger-menu {
            .fa-bars {
                width: 22px;
                height: 22px;
                color: white;
                font-size: 25px;
                display: none;
            }
        }



        .link-black {


            max-width: $content-width;
            height: 42px;
            //  margin-bottom: 28px;



            .dash {
                padding-left: 19px;

                color: $site-red;

                font-size: x-large;
            }


            a {
                text-decoration: none;
                color: black;
                font-size: 15px;
                font-family: GillSansregular;
                padding-left: 15px;
            }
        }






    }


    .line-black {
        border: none;
        height: 2px;

        max-width: $content-width;
        background-color: black;
        margin: auto;



    }

}


@media all and (max-width: 800px) {
    nav {
        //background-color: yellow;
        max-width: $content-width;
        //max-width: 98%;
        padding: 15px;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;




        .links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            //background-color: indigo;
            width: 100%;

            .logo-black {

                background-image: url(../images/logo-black.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 92px;
                height: 42px;
                margin-bottom: 20px;
                // margin-top: 30px;
                display: none;
            }

            .ham-burger-menu .fa-bars {
                width: 22px;
                height: 22px;
                color: white;
                font-size: 25px;
            }

            .menu2 .fa-bars {
                color: black;
                display: inline-block;
            }

            .link-black {


                max-width: $content-width;
                height: 42px;
                //  margin-bottom: 28px;
                display: none;


                .dash {
                    padding-left: 19px;

                    color: $site-red;

                    font-size: x-large;
                }


                a {
                    text-decoration: none;
                    color: black;
                    font-size: 15px;
                    font-family: GillSansregular;
                    padding-left: 15px;
                }
            }






        }


        .line-black {
            border: none;
            height: 2px;

            max-width: $content-width;
            background-color: black;
            margin: auto;



        }

    }

}